# files without extensions - i.e. compiled binaries

# ignore all
*
# unignore all with extensions
!*.*
# unignore all dirs
!*/


# rust permenant
target/

# rust temporary while i get it working properly in my ide
src/
/Cargo.lock
/Cargo.toml

# tests
day15/maps/

# junk
*/.old/

# incomplete
*/.*