# files without extensions - i.e. compiled binaries

# ignore all
*
# unignore all with extensions
!*.*
# unignore all dirs
!*/

# rust permenant
target/

# tests
day15/maps/

# junk
*/.old/

# incomplete
*/.*